{{- $name := .name -}}
<svg class="{{ default "mp-symbol" .class }}" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  {{- if eq $name "user" -}}
    <path d="M20 21a8 8 0 0 0-16 0M12 13a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"/>
  {{- else if eq $name "calendar" -}}
    <path d="M7 3v3m10-3v3M4 9h16M5 5h14a1 1 0 0 1 1 1v14H4V6a1 1 0 0 1 1-1Z"/>
  {{- else if eq $name "folder" -}}
    <path d="M3 6h7l2 2h9v11H3V6Z"/>
  {{- else if eq $name "tag" -}}
    <path d="M4 4h7l9 9-7 7-9-9V4Z"/><path d="M8 8h.01"/>
  {{- else if eq $name "clock" -}}
    <circle cx="12" cy="12" r="9"/><path d="M12 7v5l3 2"/>
  {{- else if eq $name "book" -}}
    <path d="M5 4h11a3 3 0 0 1 3 3v13H7a2 2 0 0 1-2-2V4Z"/><path d="M7 16h12"/>
  {{- else if eq $name "search" -}}
    <circle cx="11" cy="11" r="7"/><path d="m16 16 5 5"/>
  {{- else if eq $name "menu" -}}
    <path d="M4 7h16M4 12h16M4 17h16"/>
  {{- else if eq $name "close" -}}
    <path d="m6 6 12 12M18 6 6 18"/>
  {{- else if eq $name "copy" -}}
    <rect x="8" y="8" width="11" height="12" rx="2"/><path d="M16 8V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h2"/>
  {{- else if eq $name "check" -}}
    <path d="m5 12 4 4L19 6"/>
  {{- else if eq $name "arrow-right" -}}
    <path d="M5 12h14m-5-5 5 5-5 5"/>
  {{- else if eq $name "arrow-left" -}}
    <path d="M19 12H5m5-5-5 5 5 5"/>
  {{- else if eq $name "chevron-left" -}}
    <path d="m15 18-6-6 6-6"/>
  {{- else if eq $name "chevron-right" -}}
    <path d="m9 18 6-6-6-6"/>
  {{- else if eq $name "arrow-up" -}}
    <path d="m12 19 0-14m-6 6 6-6 6 6"/>
  {{- else if eq $name "code" -}}
    <path d="m8 9-3 3 3 3m8-6 3 3-3 3m-2-9-4 12"/>
  {{- else -}}
    <circle cx="12" cy="12" r="9"/>
  {{- end -}}
</svg>
